section.k-modules-section .k-section-label a {
  pointer-events: none;
}
section.k-modules-section .k-section-label {
  cursor: text;
}

.k-topbar-breadcrumb li:has(a[href$="+modules"]) {
  display: none;
}
